body {
    background-color: var(--bg-darker);
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

section {
    box-sizing: border-box;
    width: 100vw;
}

/* Video player section. */
#video {
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

#video-thumbnail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--bg-dark)
}

/* Control section. */
#controls {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 0 1.5em 0;
    border-top: 2px solid var(--bg-light);
}

#nowplaying {
    padding-top: 1em;
}
#nowplaying,
#media {
    border-bottom: 2px solid var(--bg-light);
}
#media {
    display: inline-flex;
    flex-direction: column;
}

#media > form,
#media > #progress-bar {
    margin-top: 1em;
}
.button-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

#youtube-url > input {
    box-sizing: border-box;
    width: 100%;
    padding: .7em;
    border-radius: 5px;
    border: 3px solid transparent;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: none;
    border: 3px solid var(--trim) !important;
}

#progress-bar {
    background-color: var(--trim);
    border-radius: 5px;
    height: 5px;
}

.button-container {
    display: inline-flex;
    flex-direction: row;
}

#controls > .button-container {
    justify-content: flex-end;
}

#media > .button-container {
    justify-content: space-between;
}

.button-container > span {
    flex-grow: 1;
    padding-top: .5em;
    padding-bottom: .5em;
}

#collapse {
    display: none;
}

/* Media queries for desktop. */
@media only screen and (min-width: 800px) {
    main {
        flex-direction: row;
    }

    /* Control section on desktop. */
    #controls {
        max-width: 400px;
        border-left: 2px solid var(--bg-light);
        border-top: none;
    }

    #controls > .button-container {
        justify-content: space-between;
    }

    /* Controls should always be shown on mobile. */
    .collapsed,
    .collapsed div {
        flex-direction: column;
        flex-shrink: 1;
        width: auto;
        padding: .1em !important;
        margin: 0 !important;
    }
    .collapsed > .button-container {
        flex-direction: column-reverse;
    }
    .collapsed .material-icons {
        padding-left: .5em;
        padding-right: .5em;
    }

    .hidden > h2,
    .hidden #youtube-url,
    .hidden #progress-bar {
        display: none;
    }

    /* Collapse button should be shown on desktop */
    #collapse {
        display: block;
    }
}
