@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
h1,
h2,
input,
span {
    text-align: center;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--fg);
}

h1 {
    color: var(--bg-darker);
    font-size: 6em;
    border: 5px solid var(--bg-darker);
    padding: .2em;
}
h2 {
    padding-bottom: 1em;
}

input {
    color: var(--bg);
}

.material-icons {
    font-size: 28px;
    border-radius: 5px;
    user-select: none;
    text-align: center;
}

.disabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}
